<footer class="site-footer">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="site-logo col-6"></div>
      <nav class="mx-auto site-navigation">
        <% if user_signed_in? && current_user.type_user ==0 %>
          <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
          </ul>
        <% else %>
          <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
            <li><%= link_to "開発者の情報", about_path%></li>
            <li><%= link_to "お問い合わせ", help_path%></li>
          </ul>
        <%end  %>
      </nav>
    </div>
  </div>
</footer>

